<h2>Hej <%= @user.name %></h2>

<p>
  Żeby ustawić nowe hasło do hellcastowej aplikacji feedbackowej użyj poniższego linku:
</p>
<%= link_to "Kliknij tutaj, żeby zmienić hasło",
    edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
  (Link straci ważność po 2 godzinach)
</p>
