<h3>Informacje treningowe</h3>
<p class="rating-id-link"> <%= link_to "Oceny \u21E3", "#oceny" %> </p>
  <span>Status:</span>
  <%= content_tag(:div, @user.skater_status.name, id: "skater-status", class: "cell",
    style: "background-color: #{@user.skater_status.color}" ) %>

<p id="change-status-confirmation" class="text-info hidden"> status został zmieniony </p>

<% if current_user.coach? %>
  <p id="edit-skater-status" class="js-toggle">edytuj status?<p>
  <div id="edit-skater-status-show" class="hidden">
    <% SkaterStatus.all.each do |status| %>
      <%= link_to status.name, change_skater_status_user_path(@user, skater_status_id: status.id),
                  class: "choice cell block", remote: true,
                  style: "background-color: #{status.color}" %>
    <% end %>
  </div>
<% end %>
