<div id="oceny">
  <h2>Oceny</h2>

  <% @skill_categories.each do |category| %>
    <div class="row">
      <%= skill_category_cell(category) %>
    </div>
    <% category.skills.each do |skill| %>
      <div class="row">
        <%= skill_cell(skill) %>
        <%= rating_cell(@user, skill, true) %>
      </div>
    <% end %>
  <% end %>
</div>
