<% if !@user.activated? %>
  <p id="activation" class="js-toggle">
    <% if !@user.activating? %>
      Wysłać?
    <% else %>
      Wysłać jeszcze raz?
    <% end %>
  </p>
  <div id="activation-show" class="hidden">
    <% if @user.email.blank? %>
      <p class="text-danger"> MUSISZ NAJPIERW DODAĆ ADRES EMAIL DO KONTA </p>
    <% else %>
      <p><span>Email aktywacyjny będzie wysłany na adres:</span></p>
      <p class="text-info"> <%= @user.email %></p>
      <%= link_to "wyślij email aktywacyjny", toggle_activating_user_path(@user),
      class: "text-button" %>

    <% end %>
  </div>
<% end %>
