<% provide(:title, "Skaters") %>
<%provide(:position, "Skaters") %>

<div class="column-page">
  <div class="info-column column">
    <h2> Lista ludzi</h2>
    <%= render 'shared/add_button', who: "user" %>
  </div>
  <div class="list-column column">

    <% @skater_statuses.each do |status| %>
      <p><%= status.name %></p>
      <ul class="users">
        <% status.users.each do |user| %>
          <li> <%= link_to user.name, user_path(user) %></li>
        <% end %>
      </uL>
    <% end %>

  </div>
</div>
