<% provide(:title, "Skaters") %>
<% provide(:position, "Skaters") %>
<% provide(:column_type, "list") %>
<% provide(:list_content, "users" ) %>

<% content_for :info do %>
  <h2> Lista ludzi</h2>

  <% if current_user.coach? %>
    <%= add_button("DODAJ człowieka", :users) %>
  <% end %>
<% end %>

<% content_for :content do %>
  <%= render 'shared/index_list' %>
<% end %>
