<% provide(:title, "Skaters") %>
<% provide(:position, "Skaters") %>
<% provide(:column_type, "list") %>
<% provide(:list_content, "users" ) %>

<% content_for :info do %>
  <h1> Lista ludzi</h1>
  <div class="info-content content-box">

    <% if current_user.coach? %>
      <%= link_to "DODAJ CZÅOWIEKA", new_user_path, class: "text-button" %>
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render 'shared/index_list' %>
<% end %>
