<% provide(:title, "Skaters") %>
<% provide(:position, "Skaters") %>
<% provide(:list_content, "users" ) %>

<div class="column-page">
  <div class="info-column column">
    <h2> Lista ludzi</h2>
    <%= add_button("DODAJ człowieka", :users) %>
  </div>
  <div class="list-column column">

    <%= render 'shared/index_list' %>

  </div>
</div>
