<% provide(:title, "Skaters") %>
<%provide(:position, "Skaters") %>

<div class="column-page">
  <div class="info-column">
    <h2> Lista ludzi</h2>
    <%= render 'shared/add_button', who: "user" %>
  </div>
  <div class="list-column">
    <ul class="users">
      <% @users.each do |user| %>
      <li> <%= link_to user.name, user_path(user) %></li>
      <% end %>
    </uL>
  </div>
</div>
