<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>

<div class="column-page">
  <div class="info-column column">
    <%= render 'user_show_info' %>
  </div>

  <div class="rating-column column">
    <%= render 'user_show_ratings' %>    
  </div>

</div>
