<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>

<div class="single-page">
    <h2><%= @user.name %></h2>
  <div>
    Tu będą informacje o nim
  </div>
  <div>
    Tu będą jego oceny
  </div>
</div>
