<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>

<div class="column-page">
  <div class="column-3">
    <h2><%= @user.name %></h2>
    <%= link_to "usuń", @user, method: :delete, class: "delete",
    data: { confirm: "Na pewno?" } %>
  </div>

  <div class="rating-column">
    <h4>Oceny</h4>
    <%= render 'shared/ratings_base' %>
  </div>
</div>
