<% provide(:title, @user.name) %>
<% provide(:position, "Profil") %>


<h2><%= @user.name %></h2>
<%= link_to "usuń", @user, method: :delete, class: "delete",
data: { confirm: "Na pewno?" } %>

<h4>Oceny</h4>

<%= render 'shared/ratings_base' %>
