<% provide(:title, "Skillsy") %>
<% provide(:position, "Skills") %>

<div class="column-page">
  <div class="info-column">
    <h2>Lista skillów</h2>
    <%= render 'shared/add_button', who: "skill" %>
  </div>
  <div class="list-column">
    <% @skills_categories.each do |category| %>
      <p><strong><%= category.name %></strong></p>
      <ul class="skills">
        <% category.skills.each do |skill| %>
          <li> <%= link_to skill.name, skill_path(skill) %></li>
        <% end %>
      </uL>
    <% end %>
  </div>
</div>
