<% provide(:title, "Lista") %>
<% provide(:position, "Skills") %>
<% provide(:list_content, "skills") %>

<div class="column-page">
  <div class="info-column column">
    <h2>Lista umiejętności</h2>
    <%= add_button("DODAJ skilla", :skills) %>
  </div>
  <div class="list-column column">

    <%= render 'shared/index_list' %>

  </div>
</div>
