<% provide(:title, "Lista") %>
<% provide(:position, "Skills") %>
<% provide(:column_type, "list") %>
<% provide(:list_content, "skills") %>

<% content_for :info do %>
  <h2>Lista umiejętności</h2>
  <%= add_button("DODAJ skilla", :skills) %>
<% end %>

<% content_for :content do %>
  <%= render 'shared/index_list' %>
<% end %>
