<% provide(:title, "Lista") %>
<% provide(:position, "Skills") %>
<% provide(:column_type, "list") %>
<% provide(:list_content, "skills") %>

<% content_for :info do %>
  <h1>Lista umiejętności</h1>
  <div class="info-content content-box">
    <% if current_user.coach? %>
      <%= link_to "DODAJ CZŁOWIEKA", new_user_path, class: "text-button" %>
    <% end %>
  </div>
<% end %>

<% content_for :content do %>
  <%= render 'shared/index_list' %>
<% end %>
