<% provide(:title, @skill.name) %>
<% provide(:position, "Skills") %>

<div class="single-page">

  <h2> <%= @skill.name %> </h2>
  <p>categoria: <%= SkillsCategory.find(@skill.skills_category_id).name %></p>

  <p> tu będą oceny tego skilla u wszystkich ludzi</p>
</div>
