<% provide(:title, @skill.name) %>
<% provide(:position, "Skills") %>


<h2> <%= @skill.name %> </h2>
<p>categoria: <%= SkillsCategory.find(@skill.skills_category_id).name %></p>

<%= link_to "usuń", @skill, method: :delete, class: "delete",
          data: { confirm: "Na pewno?" } %>

          
<%= render 'shared/ratings_base' %>
