<% provide(:title, @skill.name) %>
<% provide(:position, "Skills") %>

<div class="column-page">
  <div class="info-column column">
    <%= render 'skill_show_info' %>
  </div>

  <div class="rating-column column">
    <%= render 'skill_show_ratings' %>
  </div>
</div>
