<div class="row head-row">
  <div class="cell skill-cell hidden-cell">  </div>

    <% SkaterStatus.all.each do |status| %>

      <% status.users.each do |user| %>
        <%= user_cell(user) %>
      <% end %>
    <% end %>

</div>
<% SkillsCategory.all.each do |category| %>
  <div class="row">
   <%= skill_category_cell(category) %>
  </div>

  <% category.skills.each do |skill| %>
    <div class="row">
      <%= skill_cell(skill) %>

      <% SkaterStatus.all.each do |status| %>
        <% status.users.each do |user| %>
          <%= rating_cell(user, skill) %>
        <% end %>
      <% end %>

    </div>
  <% end %>

<% end %>
