<% provide(:title, "Wszystkie oceny") %>
<% provide(:position, "Oceny jeżdzących") %>
<% provide(:page_type, "spreadsheet") %>

<div class="spreadsheet-page" id="all-ratings">
  <%= render 'shared/ratings_base' %>
</div>
