<% provide(:title, "Pomoc") %>
<% provide(:position, "Pomoc") %>

<div class="single-column-content">
  <p>Aplikacja do oceniania poziomu zawodników/-czek w jeździe na wrotkach. </p>
</div>
<div class="single-column-content">
  <h4> każdy zawodnik/-czka </h4>
  <ul>
    <li>ma 1 z 4 statusów, które określają na jakim poziomie zaawansowania jest</li>
    <li>jest oceniany/-a w każdym z ćwiczeń w zakresie 1-5.</li>
  </ul>
  <h4>ćwiczenia</h4>
  <ul>
    <li>są brane z <a href="https://static.wftda.com/resources/wftda-minimum-skills-requirements.pdf">oficjalnych wytycznych WFTDA</a> </li>
    <li>dodajemy do nich ćwiczenia, które uważamy za istotne</li>
  </ul>
  <h4>oceny</h4>
  <ul>
    <li>1 - raw meat - zupełnie nie ma pojęcia jak robić ćwiczenia</li>
    <li>2 - fresh meat - zaczyna powoli łapać, o co chodzi, ale jeszcze ma dużo do poprawy</li>
    <li>3 - rookie - "daj pan 3": jest stabilnie, kontrolowanie i wystarczająco jeśli chodzi o MST (ale jeszcze jest miejsce na progres)</li>
    <li>4 - derby player - dobrze wie o co chodzi, czuje się pewnie i widać doświadczenie</li>
    <li>5 - ALLSTAR - wychodzi zajebiście (jak na nasz poziom drużyny), poziom do którego dążymy</li>
  </ul>
  <h4>status zawodników</h4>
  <ul>
    <li>ZERO kontaktu - ma dostęp tylko do pierwszej części ćwiczeń (niekontaktowe)</li>
    <li>lekki kontakt - może zacząć robić ćwiczenia kontaktowe; POD NADZOREK I KONTROLĄ</li>
    <li>mocny kontakt - może być wrzucany w trakcie treningu do pełnego kontaktu z doświadczonymi osobami</li>
    <li>gra - pełnoprawnie może grać poza treningami</li>

  </ul>
</div>
