<% provide(:title, "Pomoc") %>
<% provide(:position, "Pomoc") %>

<div class="single-column-content">
  <p>Tu będę opisy co i jak używać </p>
</div>
<div class="single-column-content">
  <p> I może inne rzeczy </p>
</div>
