<% provide(:title, "Derbowy Feedback") %>
<% provide(:position, "Strona główna") %>

<div class="single-column-content">
  <div class="content-box">
    tu będą różne rzeczy
  </div>
  <div class="content-box">
    kontrolka do swojego konta
  </div>
  <div class="content-box">
    linki do oceniania
  </div>
</div>
