<% provide(:title, "Derbowy Feedback") %>
<% provide(:position, "Strona główna") %>
<% provide(:page_type, "spreadsheet") %>

<p class="options">options:</p>
<input type="checkbox" id="show-list" class="spreadsheet-check options">
<label for="show-list" class="show-list-rating options">widok listy</label>

<%= render 'shared/ratings_base' %>
