<% provide(:title, "Derbowy Feedback") %>
<% provide(:position, "Strona główna") %>

<div class="single-column-page">
  <div class="content-box single-column-content">
    tu będą różne rzeczy
  </div>
  <div class="content-box single-column-content">
    kontrolka do swojego konta
  </div>
  <div class="content-box single-column-content">
    linki do oceniania
  </div>
</div>
