<% provide(:title, "Derbowy Feedback") %>
<% provide(:position, "Strona główna") %>
<% provide(:page_type, "spreadsheet") %>


<div class="row head-row">
  <div class="cell skill-cell hidden-cell">  </div>
  <% @users.each do |user| %>
    <%= user_cell(user) %>
  <% end %>
</div>
<% @skill_categories.each do |category| %>
  <div class="row">
  <div class="cell skill-category-cell">
      <strong><%= category.name %></strong>
    </div>
  </div>

  <% category.skills.each do |skill| %>
    <div class="row">
      <div class="cell skill-cell"><%= skill.name %></div>

        <% @users.each do |user| %>
            <%= rating_cell(user, skill) %>
        <% end %>


    </div>
  <% end %>

<% end %>
