/* fonts */
@font-face {
  font-family: 'Scope-One';
  src:font-url('ScopeOne-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src:font-url('Montserrat-Regular.ttf');
}
@import "font-awesome";

/* VARIABLES AND MIXINS */
$light-gray: #f5f5f5;
$dark-gray: #262626;
$danger: #b25b5b;
$success: #5bb268;
$light-accent-color: #ffdf80;
$dark-accent-color: #997300;
$test-border: 1px solid blue;

@mixin menu-box {
  background-color: $dark-gray;
  color: $light-gray;
}
@mixin menu-buttons {
  box-sizing: border-box;
  background-color: rgba($light-gray, 0.2);
  border-radius: 5px;
  color: rgba($light-gray, 0.8);
  &:hover, &:active {
    background-color: rgba($light-accent-color, 0.8);
    color: $dark-gray;
  }
}

/* GLOBAL STYLES */
body {
  background-color: $light-gray;
  display: flex;
  font-family: "Montserrat",helvetica, arial, sans-serif;
  height: 100vh;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: "Scope-One", serif, helvetica, arial;
  text-transform: uppercase;
}
a {
  color: rgba($dark-gray, 0.8);
  text-decoration-color: rgba($dark-gray, 0.3);
  &:hover, &:active {
    color: rgba($dark-accent-color, 0.8);
    text-decoration-color: rgba($dark-accent-color, 0.3);
  }
}
p {
  margin: 0;
}
.content-container {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 40vh;
}

/* HEADER */
.header {
  @include menu-box;
  flex: 0 0 auto;
  height: 3em;
  padding: 0 2em;
  text-align: center;
  h1 {
    color: $light-accent-color;
    display: inline-block;
    font-size: 1.5em;
    line-height: 2.5em;
    margin: 0;
  }
  .fa {
    @include menu-buttons;
    float: left;
    font-size: 2em;
    margin: 0.1em 0;
    padding: 0.15em;

  }
  .menu-toggle {
    @include menu-buttons;
    display: none;
    float: right;
    line-height: 2em;
    margin: 0.3em 0;
    padding: 0.15em 0.3em;
    a {
      color:inherit;
      text-decoration-color: inherit;
    }
  }
}

/* SIDEBAR STYLES */
.sidebar {
  @include menu-box;
  box-sizing: border-box;
  flex: 0 0 18em;
  height: 100%;
  padding-top: 3em;
  a {
    color: rgba($light-gray, 0.8);
    text-decoration-color: rgba($light-gray, 0.3);
    &:hover, &:active {
      color: rgba($light-accent-color, 0.8);
      text-decoration-color: rgba($light-accent-color, 0.3);
    }
  }
}
.sidebar-item {
  padding: 0.5em 1em;
  h3 {
    // border: $test-border;
    margin: 0;
    margin-top: 0.5em;
  }
}
.sidebar-link {
  padding-left: 2em;
  &:hover {
    background-color: rgba($light-accent-color, 0.8);
    color: $dark-gray;
  }
}
.horizontal-links {
  padding: 0.5em 0;
  text-align: center;
  li {
    display: inline-block;
    font-size: 0.7em;
    text-decoration: inherit;
    padding: 0 1em;
  }
  a ~ a {
   border-left: 1px solid rgba(255, 255, 255, 0.4);
  }
}

// RATING STYLES
.row {
  display: inline-block;
  white-space: nowrap;
  a {
    color: $dark-gray;
  }
}
.cell {
  box-shadow: 0 0 3px 1px rgba($dark-gray, 0.3);
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
  white-space: normal;
  vertical-align: middle;
  width: 5em;
}
.skill-category-cell {
  background-color: $dark-gray;
  color: $light-gray;
  width: 10em;
}
.skill-cell {
  background-color: rgba($dark-gray, 0.2);
  width: 7em;
}
.rating-cell {
  background-color: rgba($dark-gray, 0.5);
}
.hidden-cell {
  background-color: transparent;
  box-shadow: 0 0 0;
}

// CONTENT PAGES
.page {
  // align-items: center;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  // justify-content: space-evenly;
  overflow: scroll;
  padding: auto;
}
.spreadsheet-page {
  display: inline-block;
  padding: 0.5em;
}

.single-column-content {
  align-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  flex: 0 1 auto;
  margin: 1em 0;
  max-width: 980px;
  padding: 2em;
}

// SPREADSHEET PAGE STYLES
.head-row {
  background-color: $light-gray;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/* SINGLE PAGE COLUMNS STYLES */
.two-column-page {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 1em;
}
.column {
  background: rgba(255, 255, 255, 0.8);
  margin: 0 1em;
  max-width: 500px;
}
.info-column {
  flex: 0 0 20vw;
  padding: 0 1.5em;
  text-align: center;
  h2 {
    text-align: right;
  }
  .info-content {
    margin: 1em 0;
  }
  .cell {
    width: auto;
  }
}
.list-column {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 1em 3em;
  p {
    font-weight: bold;
    text-transform: uppercase;
  }
  p ~ p {
    margin-top: 2em;
  }
  li {
    list-style-type: circle;
    margin: 0.5em;
  }
}
.rating-column {
  flex-grow: 1;
  h3 {
    margin-left: 3em;
  }
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    .cell {
      width: 10em;
    }
    .skill-category-cell {
      margin: 0;
      width: 100%;
    }
  }
}

// BUTTONS
.button {
  border-radius: 7px;
  color: white;
  display: inline-block;
  margin: 0.5em 0;
  opacity: 0.8;
  padding: 0.5em 1em;
  text-decoration: none;
  &:hover, &:active {
    opacity: 1;
    color:white;
  }
}
.delete {
  background-color: #b25b5b;
}
.add {
  background-color: #5bb268;
}
.submit {
  background-color: #555;
  border: none;
  cursor: pointer;
  margin: 2em 0;
}

// FORM STYLES
.form {
  margin: 1em auto;
  width: 80%;
  h4 {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0.5em;
  }
  span {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
  }
}
.label {
  font-size: 2em;
  display: block;
  margin: 1em 0 0.2em 1em;
}
input, select {
  background-color: $light-gray;
  border: 1px solid $dark-gray;
  font-size: 1.5em;
  width: 100%;
  &:hover, &:active, &focus {
    outline: none;
  }
}
.rating-choice-container {
  display: flex;
  flex-direction: row;
}
.choice {
  border: 3px solid transparent;
  box-sizing: border-box;
  color: black;
  flex-grow: 1;
  margin: auto 0.5em;
  text-align: center;
  &:hover, &:active {
    color: $dark-gray;
  }
}
input[type="radio"]:checked + .choice {
  border: 3px solid black;
}
.hidden {
  display: none;
}

// ALERT STYLES
.alert-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 0;
}
.alert {
  border-radius: 3px;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  .close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    line-height: 0.8em;
    transition: 0.3s;
  }
}
.alert-success{
  background-color: #adebb0;
  color: #145217;
}
.alert-info {
  background-color: #ebd4ad;
  color: #523b14;
}
.alert-danger {
  background-color: #ebadad;
  color: #521414;
}
.error-explanation {
  background-color: #f5d6d6;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  color: #521414;
  li {
    list-style: disc inside;
  }
}

// Admin page
.admin-control {
  font-size: 1.5em;
  margin: 0 2em;
  li {
    list-style: circle;
  }
  span {
    font-size: 0.7em;
    color: #666;
    margin-left: 0.5em;
  }
}

@media (max-width: 800px) {

  // GLOBAL STYLES
  /* HEADER */
  .header {
    padding: 0 0.2em;
    .menu-toggle {
      display: block;
    }
  }
  .sidebar {
    display: none;
  }

  // RATING STYLES
  .row {
    margin: 0.3em 0;
  }
  .cell {
    margin: 0.2em;
  }

  // CONTENT PAGES
  .spreadsheet-page {
    height: auto;
  }
  .single-page {
    padding: 0;
  }

  // SINGLE PAGE SINGLE-CONTENT STYLES
  .single-column-content {
    margin: 1em;
    padding: 0.5em;
    min-width: 90vw;
  }

  // SINGLE PAGE COLUMNS STYLES
  .two-column-page {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .column {
    margin: 1em 0.5em;
    border-radius: 5px;
  }
  .info-column {
    padding: 0 1em 1em;
  }
  .list-column {
    padding: 1em 1em;
  }
  .rating-column {
    .row {
      .cell {
        width: 8em;
      }
      .skill-category-cell {
        width: 100%;
      }
    }
  }

  // BUTTONS STYLES
  .submit {
    margin: 1em 0 0;
  }
  // FORM STYLES
  .form {
    margin: 0;
    width: auto;
  }
  .label {
    margin: 1em 0 0.5em;
  }
  .rating-choice-container {
    flex-direction: column;
  }
  .choice {
    margin: 0.2em 0;
  }

  // Admin page
  .admin-control {
    font-size: 1em;
    margin: 0;
  }
}
