/* fonts */
@font-face {
  font-family: 'Scope-One';
  src:font-url('ScopeOne-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  src:font-url('Montserrat-Regular.ttf');
}
@import "font-awesome";

/* VARIABLES AND MIXINS */
$light-gray: #f5f5f5;
$menu-color: #121212;
$test-border: 1px solid blue;

@mixin menu-box {
  background-color: #262626;
  color: #f2f2f2;
  a {
    color: #d9d9d9;
    &:hover, &:active {
      color: rgba(255, 255, 153, 0.8)
    }
  }
}

/* GLOBAL STYLES */
body {
  background-color: $light-gray;
  display: flex;
  font-family: "Montserrat",helvetica, arial, sans-serif;
  height: 100vh;
  margin: 0;
}
h1, h2, h3, h4 {
  font-family: "Scope-One", serif, helvetica, arial;
  text-transform: uppercase;
}

a {
  color: #555;
  text-decoration-color: rgba(204, 153, 0, 0.8)
  &:hover, &:active {
    color: rgba(204, 153, 0, 0.8)
  }
}
.content-container {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 40vh;
}

/* HEADER */
.header {
  @include menu-box;
  flex: 0 0 auto;
  height: 3em;
  padding: 0 2em;
  text-align: center;
  h1 {
    display: inline-block;
    font-size: 1.5em;
    line-height: 2.5em;
    margin: 0;
  }
  .fa {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    float: left;
    font-size: 2em;
    margin: 0.1em 0;
    padding: 0.15em;
  }
  .menu-toggle {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: none;
    float: right;
    line-height: 2em;
    margin: 0.3em 0;
    padding: 0.15em 0.3em;
  }
}

/* SIDEBAR STYLES */

.sidebar {
  @include menu-box;
  // box-shadow: 0 0 10px 0 #000;
  flex: 0 0 18em;
}
.sidebar-item {
  padding: 0.5em 1em;
  h3 {
    margin: 0;
  }
  a {
  }
}
.sidebar-link {
  padding-left: 2em;
  &:hover {
    background-color: rgba(255, 255, 153, 0.8);
    color: black;
  }
}

.horizontal-links {
  padding: 0.5em 0;
  text-align: center;
  li {
    display: inline-block;
    font-size: 0.7em;
    padding: 0 1em;
  }
  a ~ a {
   border-left: 1px solid rgba(255, 255, 255, 0.4);
  }
}

// CONTENT PAGES
.page {
  // box-sizing: border-box;
  // height: 100vh;
  flex: 1 1 0;
  overflow: scroll;
}

// HOMEPAGE STYLES
.spreadsheet-page {
  display: inline-block;
  padding: 0.5em;
}
.head-row {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: $light-gray;
}
.row {
  display: inline-block;
  white-space: nowrap;
  a {
    color: #333;
  }
}
.cell {
  // border: 1px solid black;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  border-radius: 5px;
  white-space: normal;
  vertical-align: middle
}
.skill-category-cell {
  background-color: #ffb3b3;
  width: 10em;

}
.skill-cell {
  background-color: #ffe6e6;
  width: 7em;
}
.user-cell {
  width: 5em;
  // background-color: #ff5c33;
}
.rating-cell {
  background-color: #bbb;
  width: 5em;
}
.hidden-cell {
  background-color: transparent;
  box-shadow: 0 0 0;
}

/* SINGLE PAGES STYLES */
.single-page {
  box-sizing: border-box;
  max-width: 980px;
  margin: 0 auto;
  padding: 0.5em 1em;
  min-height: 100%;
  background: #e6e6e6;
}

/* SINGLE PAGE COLUMNS RATINGS */
.column-page {
  display: flex;
  margin: 0 1em;
}
.rating-column {
  flex-grow: 1;
  h3 {
    margin-left: 3em;
  }
  .row {
    display: block;
    align-items: center;

    .cell {
      display: inline-block;
      width: 10em;
    }
    .skill-category-cell {
      box-sizing: border-box;
      margin: 0;
      width: 100%;

    }
  }
}
.info-column {
  flex: 0 1 20vw;
  padding: 0 1.5em;
  text-align: center;
  h2 {
    text-align: right;
  }
}
.list-column {
  flex-grow: 1;
  padding-left: 3em;
}

// BUTTONS
.button {
  border-radius: 7px;
  color: white;
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.5em 1em;

}
.delete {
  background-color: #cc2900;
  // margin: 2em;
}
.add {
  background-color: #00cc29;
}
.submit {
  background-color: #555;
  display: block;
  border: none;
  cursor: pointer;
  margin: 2em 0;
}

// FORM STYLES
.form {
  margin: 1em auto;
  width: 80%;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    margin: 0.5em;
  }
  span {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
  }
}
.label {
  font-size: 2em;
  display: block;
  margin: 1em 0 0.3em;
}
input, select {
  background-color: white;
  font-size: 1.5em;
  width: 100%;
}
.rating-choice-container {
  display: flex;
  flex-direction: row;
}
.choice {
  border: 3px solid transparent;
  display: block;
  flex-grow: 1;
  background-color: #ffe6b3;
  margin: auto 0.5em;
  color: black;
  text-align: center;
  // vertical-align: center;
  box-sizing: border-box;
}
input[type="radio"]:checked + .choice {
  border: 3px solid black;
}
.form-control {}
.hidden {
  display: none;
}


// ALERT STYLES
.alert-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 0;
}
.alert {
  border-radius: 3px;
  font-weight: bold;
  padding: 1em;
  text-align: center;
  .close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    line-height: 0.8em;
    transition: 0.3s;
  }
}
.alert-success{
  background-color: #adebb0;
  color: #145217;
}
.alert-info {
  background-color: #ebd4ad;
  color: #523b14;
}
.alert-danger {
  background-color: #ebadad;
  color: #521414;
}
.error-explanation {
  background-color: #f5d6d6;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  color: #521414;
}

// Admin page
.admin-controll {
  font-size: 1.5em;
  span {
    font-size: 0.7em;
    color: #666;
    margin-left: 0.5em;
  }
}

@media (max-width: 800px) {

  // GLOBAL STYLES
  /* HEADER */
  .header {
    padding: 0 0.2em;
    .menu-toggle {
      display: block;
    }
  }

  .sidebar {
    display: none;
  }

  // HOMEPAGE STYLES
  .spreadsheet-page {
    height: auto;
  }
  .row {
    margin: 0.3em 0;
  }
  .cell {
    margin: 0.2em;
  }

  // SINGLE PAGES STYLE
  .single-page {
    width: 100vw;
    padding: 0;
    min-height: auto;
  }
  .column-page {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .info-column {
    border-bottom: 1px solid #a6a6a6;
    padding: 0 1em 1em;
  }
  .list-column {
    padding-left: 0;
  }
  .rating-column {
    .row {
      .cell {
        width: 40%;
      }
      .skill-category-cell {
        width: 100%;
      }
    }
  }

  // BUTTONS STYLES
  .submit {
    margin: 0.3em 0 0;
  }
  // FORM STYLES
  .form {
    margin: 1em 0;
    width: auto;
  }
  .rating-choice-container {
    flex-direction: column;

  }
  .choice {
    margin: 0.5em 0;
  }
  // Admin page
  .admin-controll {
    font-size: 1em;
  }
}
