<div class="modal micromodal-slide" id="modal" aria-hidden="true">
  <div class="modal-overlay" tabindex="-1" onclick="this.parentElement.style.display='none';">
    <div class="modal-content" onclick="return false;">

    </div>
  </div>
</div>
