<% column_type = yield(:column_type) %>

<%= inside_layout "application" do %>

  <div class="two-column-page">
    <div class="info-column column">
      <%= yield :info %>
    </div>
    <div class="<%= column_type %>-column column">
      <%= yield :content %>
    </div>
  </div>

<% end %>
